@using System.Web.Mvc.Html
@using Umbraco.Contact.Controllers
@using Umbraco.Contact.Models.Form
@using Umbraco.Web
@model ContactFormModel

@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@if (Convert.ToBoolean(TempData["IsSuccessfull"]))
{
    <h1>YAY!</h1>
    <p>Thanks for the message, we will be in touch soon.</p>
}

@{
    using (Html.BeginUmbracoForm<ContactController>("HandleContactForm"))
    {   
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        <h3>Ya Ya, Leave a message</h3>
        <div class="form-group">
            <label class="col-md-2">@Html.DisplayNameFor(model => model.Name)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">@Html.DisplayNameFor(model => model.Email)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">@Html.DisplayNameFor(model => model.Subject)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">@Html.DisplayNameFor(model => model.Message)</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Message, new { @class = "form-control", wrap = "hard", rows = "5" })
                @Html.ValidationMessageFor(model => model.Message)
            </div>
        </div>

        // Aditional field if you want
        @*
            @Html.TextBoxFor(model => model.CompanyName, new { placeholder = "Company Name", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CompanyName)<br />

            @Html.TextAreaFor(model => model.PhoneNumber, new { placeholder = "Phone Number", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PhoneNumber)<br />

            @Html.TextAreaFor(model => model.WebsiteUrl, new { placeholder = "Website URL", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.WebsiteUrl)<br />

            @Html.TextAreaFor(model => model.Location, new { placeholder = "Location", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Location)<br />

            <p>
                Receive a copy?
                @Html.CheckBoxFor(model => model.CopyRequested, new { @class = "form-control" })
            </p>
        *@

        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </div>
        <div class="clearfix"></div>
    }
}
<div class="clearfix"></div>